header {
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
aside {
    flex: 1;
    overflow: auto;
}
article {
    flex: 2;
    overflow: auto;
    backkground-color: green;
    border-style: solid;
    border-width: 20px 5px;
}
footer {
}
